# ==== Database ====
MONGODB_URI=mongodb+srv://bsbabu785_db_user:FV0VRCoapFz5nJqe@cluster0.rpv7p77.mongodb.net/bishash?appName=Cluster0
  
# ==== Auth (change these!) ====
JWT_SECRET=MySuperSecretKey_2026_y9A7B8CkmN5pQr
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

# ==== CORS (comma-separated) ====
ALLOWED_ORIGINS=http://localhost:5500,http://127.0.0.1:5500,https://bishash-5o21.vercel.app,https://bishash-v85c.vercel.app

# ==== Server ====
PORT=5000

# ==== Cloudinary ====
CLOUDINARY_CLOUD_NAME=uaaepahg
CLOUDINARY_API_KEY=267774731115932
CLOUDINARY_API_SECRET=S3QEks48W5cu3l-tvz0FRktnV4k

# ==== Google Apps Script webhook (email notifications) ====
APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbyRUBI6tsMoZ9kOxs_olnoLcH9xBQaYDcIH_8UahuFXe_cyQXuENOePLyed_zdC4oMh/exec
NOTIFY_EMAIL=bsbabu785@gmail.com
